
@{
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Views/Shared/layout_admin.cshtml";
}
@using BMT_DATN.Models;

<link href="~/Theme/css/custom_admin_1.css" rel="stylesheet" />
<script src="~/Theme/js/jquery-3.2.1.min.js"></script>
<script>
    $('a[name="qldh_menu"]').html("<b>>>ĐƠN HÀNG</b>");
    $('a[name="qldh_menu"]').css("color", "red");
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            trigger: 'hover'
        });
        $('a[name="cancelOrder"]').click(function () {
            var splitCancelOrderId = $(this).attr('id').split('_');
            var idDh = splitCancelOrderId[1];   // id don hang
            var idTtdh = splitCancelOrderId[2];   // id trang thai don hang
            if (idTtdh == 2 || idTtdh == 3) {       // 2: ChoXacNhan, 3: DaXacNhan
                var cfm = confirm("Bạn chắc chắn muốn hủy đơn hàng này?");
                if (cfm) {
                    adminHuyDonHang(idDh, idTtdh);
                }
            }
            else {
                alert("Đơn hàng đang ở trạng thái không thể hủy :(");
            }
        });
        $('a[name="giveBackOrder"]').click(function () {
            var splitGivebackOrderId = $(this).attr('id').split('_');
            var idDh = splitGivebackOrderId[1];   // id don hang
            var idTtdh = splitGivebackOrderId[2];   // id trang thai don hang
            if (idTtdh == 5) {       // 5: DaGiao
                var cfm = confirm("Bạn chắc chắn muốn hoàn đơn hàng này?");
                if (cfm) {
                    adminHoanDonHang(idDh, idTtdh);
                }
            }
            else {
                alert("Đơn hàng chỉ được hoàn khi ở trạng thái 'Đã giao' :(");
            }
        });
        $('a[name="giveBackOrder2"]').click(function () {
            var splitGivebackOrder2Id = $(this).attr('id').split('_');
            var idDh = splitGivebackOrder2Id[1];   // id don hang
            var idTtdh = splitGivebackOrder2Id[2];   // id trang thai don hang
            if (idTtdh == 8) {       // 5: DangHoanTra
                var cfm = confirm("Bạn chắc chắn muốn xác nhận đã hoàn đơn hàng này về shop?");
                if (cfm) {
                    adminXacNhanHoanDonHang(idDh, idTtdh);
                }
            }
            else {
                alert("Đơn hàng chỉ được hoàn khi ở trạng thái 'Đã giao' :(");
            }
        });
    });
    function checkAllowUpdateStatus(ele) {
        var statusId = ele.name;
        var trangThaiDaNhan = 6;        //6: DaNhan, 7: DaHuy, 9: DaHoanTra
        var trangThaiDaHuy = 7;
        var trangThaiDaHoanTra = 9;
        if (statusId == trangThaiDaNhan || statusId == trangThaiDaHuy || statusId == trangThaiDaHoanTra) {
            alert("Đơn hàng đã kết thúc! \n Bạn không thể cập nhật trạng thái cho đơn hàng này");
            return false;
        }
        else {
            return true;
        }
    }
    function adminHuyDonHang(idDonHang, idTrangThaiDonHang) {
        var obj = {
            orderId: idDonHang,
            //newOrderStatusId: idTrangThaiDonHang
            newOrderStatusId: 7     //7: DaHuy
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AdminCapNhatTrangThaiDonHang", "Order")',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',

            beforeSend: function () {
            },
            success: function (response) {
                var valueReturn = response;
                alert(valueReturn.msg);
                if (valueReturn.rfr == "1") {
                    window.location.reload();
                }
            },
            failure: function (response) {
                alert("fail");
            },
            complete: function () {
            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                alert(err.Message);
            },
        });
    }
    function adminHoanDonHang(idDonHang, idTrangThaiDonHang) {
        var obj = {
            orderId: idDonHang,
            //newOrderStatusId: idTrangThaiDonHang
            newOrderStatusId: 8     //8: DangHoanTra
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AdminCapNhatTrangThaiDonHang", "Order")',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',

            beforeSend: function () {
            },
            success: function (response) {
                var valueReturn = response;
                alert(valueReturn.msg);
                if (valueReturn.rfr == "1") {
                    window.location.reload();
                }
            },
            failure: function (response) {
                alert("fail");
            },
            complete: function () {
            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                alert(err.Message);
            },
        });
    }
    function adminXacNhanHoanDonHang(idDonHang, idTrangThaiDonHang) {
        var obj = {
            orderId: idDonHang,
            //newOrderStatusId: idTrangThaiDonHang
            newOrderStatusId: 9     //9: DaHoanTra
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("AdminCapNhatTrangThaiDonHang", "Order")',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',

            beforeSend: function () {
            },
            success: function (response) {
                var valueReturn = response;
                alert(valueReturn.msg);
                if (valueReturn.rfr == "1") {
                    window.location.reload();
                }
            },
            failure: function (response) {
                alert("fail");
            },
            complete: function () {
            },
            error: function (xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                alert(err.Message);
            },
        });
    }
</script>

<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-7"><h2><b>QUẢN LÝ ĐƠN HÀNG</b></h2></div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" class="form-control" name="searchDonHang" id="searchDonHang" placeholder="Tìm kiếm ... " value="@ViewBag.searchKeyword">
                        </div>
                    </div>
                    <div class="col-sm-1" title="Thêm" data-toggle="tooltip">
                        <a href="/them-don-hang"><i class="material-icons add_user_button">add</i></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="width: 50px;">STT</th>
                        <th>Mã đơn hàng</th>
                        <th>Người mua</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        string searchKeyword = ViewBag.searchKeyword == null ? "" : ViewBag.searchKeyword;
                        int pageNumber = ViewBag.pageNumber;
                        int pageSize = ViewBag.pageSize;
                        BMT_DATNEntities db = new BMT_DATNEntities();
                        var query = from dh in db.tblDonHangs
                                        //where ncc.TenNhaCungCap.Contains(searchKeyword)
                                    orderby dh.PK_MaDonHang descending
                                    select new {
                                        MaDonHang = dh.PK_MaDonHang,
                                        TenNguoiDung = dh.tblNguoiDung.TenNguoiDung,
                                        MaTrangThaiDonHang = dh.tblChiTietTrangThaiDonHangs.OrderByDescending(tt => tt.FK_MaTrangThaiDonHang).FirstOrDefault().FK_MaTrangThaiDonHang,
                                        TenTrangThaiDonHang = dh.tblChiTietTrangThaiDonHangs.OrderByDescending(tt => tt.FK_MaTrangThaiDonHang).FirstOrDefault().tblTrangThaiDonHang.TenTrangThaiDonHang
                                    };
                        var listDonHang = query.Where(dh => dh.MaTrangThaiDonHang != (int)EnumTrangThaiDonHang.GioHang)
                                               .OrderBy(dh => dh.MaTrangThaiDonHang)
                                               .Skip(pageSize * (pageNumber - 1)).Take(pageSize).ToList();

                        int stt = listDonHang.Count == 0 ? 0 : pageSize * (pageNumber - 1) + 1;
                        foreach (var donhang in listDonHang)
                        {
                            <tr>
                                <td style="text-align:center;">@stt</td>
                                <td>@donhang.MaDonHang</td>
                                <td>@donhang.TenNguoiDung</td>
                                <td>@donhang.TenTrangThaiDonHang</td>
                                <td>
                                    <a href="/xem-don-hang?maDh=@donhang.MaDonHang" class="view" title="Xem đơn hàng" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                    @*<a href="#" class="edit" title="Cập nhật trạng thái" data-toggle="tooltip"><i class="material-icons">&#xf232;</i></a>*@
                                    <a href="/cap-nhat-trang-thai-don-hang/?maDh=@donhang.MaDonHang" class="edit" title="Cập nhật trạng thái đơn hàng" data-toggle="tooltip" name="@donhang.MaTrangThaiDonHang" onclick="return checkAllowUpdateStatus(this)"><i class="material-icons">&#xeb61;</i></a>
                                    @*<a href="#" class="edit" title="Cập nhật trạng thái" data-toggle="tooltip"><i class="material-icons">&#xe742;</i></a>
                                    <a href="#" class="edit" title="Cập nhật trạng thái" data-toggle="tooltip"><i class="material-icons">&#xef4c;</i></a>
                                    <a href="#" class="edit" title="Cập nhật trạng thái" data-toggle="tooltip"><i class="material-icons">&#xe6b3;</i></a>
                                    <a href="#" class="edit" title="Cập nhật trạng thái" data-toggle="tooltip"><i class="material-icons">&#xe862;</i></a>*@
                                    @{
                                        if (donhang.MaTrangThaiDonHang == (int)EnumTrangThaiDonHang.DangHoanTra)
                                        {
                                            <a href="javascript:void(0)" class="giveback2" title="Xác nhận hoàn tất hoàn trả đơn hàng" data-toggle="tooltip" name="giveBackOrder2" id="@("giveback2_" + donhang.MaDonHang + "_" + donhang.MaTrangThaiDonHang)"><i class="material-icons">&#xef4c;</i></a>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0)" class="giveback" title="Hoàn trả đơn hàng" data-toggle="tooltip" name="giveBackOrder" id="@("giveback_" + donhang.MaDonHang + "_" + donhang.MaTrangThaiDonHang)"><i class="material-icons">&#xeba1;</i></a>
                                        }
                                    }
                                    <a href="javascript:void(0)" class="delete" title="Hủy đơn hàng" data-toggle="tooltip" name="cancelOrder" id="@("cancel_" + donhang.MaDonHang + "_" + donhang.MaTrangThaiDonHang)"><i class="material-icons">&#xe14c;</i></a>
                                </td>
                            </tr>
                            stt++;
                        }
                    }
                </tbody>
            </table>
            <div class="clearfix">
                @{
                    int firstResult = stt == 0 ? 0 : pageSize * (pageNumber - 1) + 1;
                    int lastResult = stt == 0 ? 0 : stt - 1;
                }
                <div class="hint-text">Hiển thị kết quả từ <b>@firstResult</b> đến <b>@lastResult</b></div>
                <ul class="pagination">
                    <li class="page-item"><a href="/quan-ly-don-hang?searchKeyword=@searchKeyword&&pageNumber=1" class="page-link"><i class="fa fa-angle-double-left"></i></a></li>
                    @{
                        var allDonHang = query.ToList();
                        double pmax = (double)allDonHang.Count / pageSize;
                        int pageMax = (int)Math.Ceiling(pmax);
                        int pageTemp = 0;
                        int page3HienTai = pageNumber;
                        for (int i = 0; i < 5; i++)
                        {
                            if (i != 2)     // 4 nut ben canh
                            {
                                pageTemp = pageNumber - 2 + i;
                                if (pageTemp <= 0 || pageTemp > pageMax)
                                {
                                    <li class="page-item"><a class="page-link"> </a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a href="/quan-ly-don-hang?searchKeyword=@searchKeyword&pageNumber=@pageTemp" class="page-link">@pageTemp</a></li>
                                }
                            }
                            else            // nut chinh giua
                            {
                                <li class="page-item active"><a href="javascript:void(0)" class="page-link">@page3HienTai</a></li>
                            }
                        }
                    }
                    <li class="page-item"><a href="/quan-ly-don-hang?searchKeyword=@searchKeyword&&pageNumber=@pageMax" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>