
@{
    ViewBag.Title = "SuaDanhMucSanPham";
    Layout = "~/Views/Shared/layout_admin.cshtml";
}

@using BMT_DATN.Models
@{
    int maDmsp = ViewBag.maDmsp;
    BMT_DATNEntities db = new BMT_DATNEntities();
    var infoDmsp = (from dm in db.tblDanhMucSanPhams
                         where dm.PK_MaDanhMucSanPham == maDmsp
                         select dm).FirstOrDefault();
}

<script src="~/Theme/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $('a[name="qldmsp_menu"]').html("<b>>>DANH MỤC SẢN PHẨM</b>");
    $('a[name="qldmsp_menu"]').css("color", "red");
    $(document).ready(function () {
        $('#btnSuaDanhMuc').click(function () {
            var cateId = $("#categoryId").val();
            var cateName = $("#categoryName").val();
            var cateDescription = $("#categoryDescription").val();
            var obj = {
                categoryId: cateId,
                categoryName: cateName,
                categoryDescription: cateDescription
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AdminSuaDanhMucSanPham", "Category")',
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',

                beforeSend: function () {

                },
                success: function (response) {
                    var valueReturn = response;
                    alert(valueReturn.msg);
                    if (valueReturn.rdt == "1") {
                        window.location.href = '@Url.Action("QuanLyDanhMucSanPham", "Category")';
                    }
                },
                failure: function (response) {
                    alert("fail");
                },
                complete: function () {

                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                },
            });
        });
    });
</script>

<div class="admin_content_area">
    <h2>QUẢN LÝ DANH MỤC SẢN PHẨM - SỬA THÔNG TIN DANH MỤC SẢN PHẨM</h2>
    <div class="m-auto AdminForm">
        <span class="h4 mb-0">Sửa các thông tin</span>
        <div class="m-md-auto" style="padding:10px 0px 20px 0px;">
            <input hidden value="@infoDmsp.PK_MaDanhMucSanPham" name="categoryId" id="categoryId" />
            <label>Tên danh mục sản phẩm:</label> <br />
            <input type="text" style="width:100%;" name="categoryName" id="categoryName" value="@infoDmsp.TenDanhMucSanPham" required />
        </div>
        <div class="m-md-auto pt-1 pb-1">
            <label for="categoryDescription">Mô tả:</label> <br />
            <textarea style="width:100%;" rows="10" name="categoryDescription" id="categoryDescription">@infoDmsp.MoTa</textarea>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <div>
                <button type="button" class="ml-auto btn hvr-hover mr-2" style="color:#ffffff" name="btnSuaDanhMuc" id="btnSuaDanhMuc">Lưu</button>
            </div>
            <div>
                <button type="button" class="ml-auto btn hvr-hover" style="color:#ffffff" onclick="history.back()">Hủy</button>
            </div>
        </div>
    </div>

    @*<div class="row">
        <div class="col-md-6">
            <button type="button" class="ml-auto btn hvr-hover" style="color:#ffffff; display:block; margin:0 auto;" name="btnSuaDanhMuc" id="btnSuaDanhMuc">Lưu</button>
        </div>
        <div class="col-md-6">
            <button type="button" class="ml-auto btn hvr-hover" style="color:#ffffff" onclick="history.back()">Hủy</button>
        </div>
    </div>*@
</div>
