
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/layout.cshtml";
}
@using BMT_DATN.Models; 
@using BMT_DATN.Controllers; 
@{
    int maSanPham = ViewBag.maSanPham;
    Guid userId = HomeController.nguoidung.maNguoiDung;
    BMT_DATNEntities db = new BMT_DATNEntities();
    CurrencyHelper ch = new CurrencyHelper();

    var infoSanPham = (from sp in db.tblSanPhams
                       where sp.PK_MaSanPham == maSanPham
                       select sp).FirstOrDefault();
    var allReviewThisProduct = (from dgsp in db.tblDanhGiaSanPhams
                                where dgsp.FK_MaSanPham == maSanPham
                                select dgsp).ToList();
    var listSuccessOrderHaveThisProductOfUser = (from dh in db.tblDonHangs
                                                 join ctttdh in db.tblChiTietTrangThaiDonHangs on dh.PK_MaDonHang equals ctttdh.FK_MaDonHang
                                                 where dh.FK_MaNguoiDung.Equals(userId) &&
                                                          ctttdh.FK_MaTrangThaiDonHang == (int)EnumTrangThaiDonHang.DaNhan &&
                                                          dh.tblChiTietDonHangs.Any(ctdh => ctdh.FK_MaSanPham == maSanPham)
                                                 select dh).ToList();

    var countReviewThisProductOfUser = (from dgsp in db.tblDanhGiaSanPhams
                                        where dgsp.FK_MaSanPham == maSanPham &&
                                                dgsp.FK_MaNguoiDung.Equals(userId)
                                        select dgsp).Count();
    var allowReview = false;
    if (listSuccessOrderHaveThisProductOfUser.Count > 0 && countReviewThisProductOfUser == 0)
    {
        allowReview = true;
    }
}

<div class="title-all text-center mt-5">
    <h1>CHI TIẾT SẢN PHẨM</h1>
</div>
<!-- Start Shop Detail  -->
<div class="shop-detail-box-main">
    <div class="container">
        <div class="row bg-white p-3">
            <div class="col-xl-5 col-lg-5 col-md-6">
                <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active"> <img class="d-block w-100" src="~/Images_Data/@infoSanPham.HinhAnh" alt="First slide"> </div>
                        @*<div class="carousel-item"> <img class="d-block w-100" src="images/big-img-02.jpg" alt="Second slide"> </div>
                        <div class="carousel-item"> <img class="d-block w-100" src="images/big-img-03.jpg" alt="Third slide"> </div>*@
                    </div>
                    @*<a class="carousel-control-prev" href="#carousel-example-1" role="button" data-slide="prev">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1" role="button" data-slide="next">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        <span class="sr-only">Next</span>
                    </a>*@
                    @*<ol class="carousel-indicators">
                        <li data-target="#carousel-example-1" data-slide-to="0" class="active">
                            <img class="d-block w-100 img-fluid" src="images/smp-img-01.jpg" alt="" />
                        </li>
                        <li data-target="#carousel-example-1" data-slide-to="1">
                            <img class="d-block w-100 img-fluid" src="images/smp-img-02.jpg" alt="" />
                        </li>
                        <li data-target="#carousel-example-1" data-slide-to="2">
                            <img class="d-block w-100 img-fluid" src="images/smp-img-03.jpg" alt="" />
                        </li>
                    </ol>*@
                </div>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-6">
                <div class="single-product-details">
                    <input hidden id="productId" value="@infoSanPham.PK_MaSanPham" />
                    <h2>@infoSanPham.TenSanPham</h2>
                    <h3>Kích cỡ: @infoSanPham.KichCo</h3>
                    <h5>Đơn giá: </h5><h5>@ch.FormatToCurrency(infoSanPham.DonGia)</h5>
                    <p class="available-stock"><span>Số lượng sản phẩm trong kho: @infoSanPham.SoLuong </span>
                    <p>
                        <h4>Mô tả:</h4>
                    <p>
                        @infoSanPham.MoTa
                    </p>
                    @*<ul>
                        <li>
                            <div class="form-group size-st">
                                <label class="size-label">Kích cỡ:</label>
                                <label>@infoSanPham.k</label>
                                <select id="basic" class="selectpicker show-tick form-control">
                                    <option value="0">Size</option>
                                    <option value="0">S</option>
                                    <option value="1">M</option>
                                    <option value="1">L</option>
                                    <option value="1">XL</option>
                                    <option value="1">XXL</option>
                                    <option value="1">3XL</option>
                                    <option value="1">4XL</option>
                                </select>
                            </div>
                        </li>
                        <li>
                            <div class="form-group quantity-box">
                                <label class="control-label">Quantity</label>
                                <input class="form-control" value="0" min="0" max="20" type="number">
                            </div>
                        </li>
                    </ul>*@

                    <div class="price-box-bar">
                        <div class="cart-and-bay-btn">
                            <button type="button" name="btnAddToCart" id="product_@infoSanPham.PK_MaSanPham" class="ml-auto btn hvr-hover mr-2" style="color:#ffffff" onclick="return beforeCallProviderAction()">Thêm vào giỏ hàng</button>
                            <button type="button" class="ml-auto btn hvr-hover mr-2" style="color:#ffffff" onclick="history.back()">Quay lại</button>
                            @*<a class="btn hvr-hover" data-fancybox-close="" href="#">Buy New</a>
        <a class="btn hvr-hover" data-fancybox-close="" href="#">Add to cart</a>*@
                        </div>
                    </div>  
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Đánh giá sản phẩm</h1>
                </div>
                <div class="container mt-1">
                    <div class="d-flex justify-content-center row">
                        <div class="col-md-10">
                            <div class="d-flex flex-column comment-section">
                                <div id="allReview">
                                    @{
                                        if (allReviewThisProduct.Count == 0)
                                        { 
                                            <div class="bg-white p-2">
                                                <p>Sản phẩm chưa có đánh giá nào</p>
                                            </div>
                                        }
                                        foreach (var review in allReviewThisProduct)
                                        {
                                            <div class="bg-white p-2">
                                                <div class="d-flex flex-row user-info">
                                                    <img src="~/Image/layout/avatar_profile_2.png" width="50">
                                                    <div class="d-flex flex-column justify-content-start ml-2">
                                                        <span class="d-block font-weight-bold name" style="color:#ff5050">@review.tblNguoiDung.TenNguoiDung</span>
                                                        <span class="date text-black-50">@review.ThoiGianDanhGia</span>
                                                    </div>
                                                </div>
                                                <div class="mt-2">
                                                    <p class="comment-text">
                                                        @review.NoiDungDanhGiaSanPham
                                                    </p>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>

                                @{
                                    if (allowReview)
                                    { 
                                        <div class="bg-light p-2" id="postReview">
                                            <div class="d-flex flex-row align-items-start">
                                                <img src="~/Image/layout/avatar_profile_2.png" width="40">
                                                <textarea class="form-control ml-1 shadow-none textarea" id="txtReviewContent"></textarea>
                                            </div>
                                            <div class="mt-2 text-right">
                                                <button class="btn btn-danger btn-sm shadow-none" type="button" id="btnPostReview">Gửi đánh giá</button>
                                            </div>
                                        </div>
                                    }
                                }
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-5">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>Sản phẩm nổi bật</h1>
                </div>
                <div class="featured-products-box owl-carousel owl-theme">
                    @{
                        var top5SanPhamNoiBat = (from sp in db.tblSanPhams
                                                select sp).Take(5).ToList();
                        foreach (var fProduct in top5SanPhamNoiBat)
                        {
                            <div class="item px-2">
                                <div class="products-single fix">
                                    <div class="box-img-hover">
                                        <img src="~/Images_Data/@fProduct.HinhAnh" class="img-fluid" alt="Image">
                                    </div>
                                    <div class="why-text card-product-single-name">
                                        <h4><a href="/chi-tiet-san-pham?maSp=@fProduct.PK_MaSanPham">@fProduct.TenSanPham</a></h4>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    @*<div class="item px-2">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img src="~/Images_Data/@top4SanPhamNoiBat[0].HinhAnh" class="img-fluid" alt="Image">
                            </div>
                            <div class="why-text card-product-single-name">
                                <h4><a href="/chi-tiet-san-pham?maSp=@top4SanPhamNoiBat[0].PK_MaSanPham">@top4SanPhamNoiBat[0].TenSanPham</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="item px-2">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img src="~/Images_Data/@top4SanPhamNoiBat[1].HinhAnh" class="img-fluid" alt="Image">
                            </div>
                            <div class="why-text card-product-single-name">
                                <h4><a href="/chi-tiet-san-pham?maSp=@top4SanPhamNoiBat[1].PK_MaSanPham">@top4SanPhamNoiBat[1].TenSanPham</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="item px-2">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img src="~/Images_Data/@top4SanPhamNoiBat[2].HinhAnh" class="img-fluid" alt="Image">
                            </div>
                            <div class="why-text card-product-single-name">
                                <h4><a href="/chi-tiet-san-pham?maSp=@top4SanPhamNoiBat[2].PK_MaSanPham">@top4SanPhamNoiBat[2].TenSanPham</a></h4>
                            </div>
                        </div>
                    </div>
                    <div class="item px-2">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <img src="~/Images_Data/@top4SanPhamNoiBat[3].HinhAnh" class="img-fluid" alt="Image">
                            </div>
                            <div class="why-text card-product-single-name">
                                <h4><a href="/chi-tiet-san-pham?maSp=@top4SanPhamNoiBat[3].PK_MaSanPham">@top4SanPhamNoiBat[3].TenSanPham</a></h4>
                            </div>
                        </div>
                    </div>*@
                </div>    
                    
                    
            </div>
        </div>

    </div>
</div>
<!-- End Cart -->

<script src="~/Theme/js/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $(".badge").text(countLi - 1);
        $('#li_product_side_cart_0').hide();
        $('button[name="btnAddToCart"]').click(function () {
            var idOfAddToCart = $(this).attr('id');
            var split = idOfAddToCart.toString().split('_');
            var prodId = split[1];
            var obj = {
                productId: prodId
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UserThemSanPhamVaoGioHang", "Home")',
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',

                beforeSend: function () {

                },
                success: function (response) {
                    var valueReturn = response;
                    alert(valueReturn.msg);
                    if (valueReturn.rdt == "1") {
                        window.location.href = '@Url.Action("Login", "Home")';
                    }
                    if (valueReturn.pfa == "1") {
                        addOneProductInSideCart(idOfAddToCart);
                    }
                },
                failure: function (response) {
                    alert("fail");
                },
                complete: function () {

                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                },
            });
        });

        $('#btnPostReview').click(function () {
            var prodId = $("#productId").val();
            var revContent = $("#txtReviewContent").val();
            var obj = {
                productId: prodId,
                reviewContent: revContent
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UserThemDanhGiaSanPham", "Home")',
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',

                beforeSend: function () {
                    return checkEpmtyReviewContent();
                },
                success: function (response) {
                    var valueReturn = response;
                    if (valueReturn.msg != "") {
                        alert(valueReturn.msg);
                    }
                    if (valueReturn.rfr == "1") {
                        window.location.reload();
                    }
                },
                failure: function (response) {
                    alert("fail");
                },
                complete: function () {

                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                },
            });
        });
    });

    var countLi = document.getElementById("ul_product_side_cart").getElementsByTagName("li").length;
    function addOneProductInSideCart(idBtnAdd) {
        var btnAddToCart = $('#' + idBtnAdd);
        var divOfProduct = btnAddToCart.parent().parent().parent().parent().parent();
        var findImageProd = divOfProduct.find('img')[0].src;
        var findNameProd = divOfProduct.find('h2')[0].innerText;
        var findPriceProd = divOfProduct.find('h5')[1].innerText;

        var ulAllProductInSideCart = document.getElementById("ul_product_side_cart");
        var firstProductInSideCart = document.getElementById("li_product_side_cart_0");
        var cloneProductInSideCart = firstProductInSideCart.cloneNode(true);
        cloneProductInSideCart.id = "li_product_side_cart_" + countLi;
        cloneProductInSideCart.style.display = "";

        // setup attr element in clone
        var imgOfClone = cloneProductInSideCart.querySelector(".cart-thumb");
        imgOfClone.src = findImageProd;

        var splitedIdOfAddToCart = idBtnAdd.toString().split('_');
        var prodId = splitedIdOfAddToCart[1];
        var nameOfClone = cloneProductInSideCart.querySelector('a[name="linkProductSideCart"]');
        nameOfClone.href = "/chi-tiet-san-pham?maSp=" + prodId;
        nameOfClone.innerText = findNameProd;

        var priceOfClone = cloneProductInSideCart.querySelector("span");
        priceOfClone.innerText = findPriceProd;

        ulAllProductInSideCart.appendChild(cloneProductInSideCart);
        $(".badge").text(countLi);
        countLi = countLi + 1;
    }

    function checkEpmtyReviewContent() {
        if (!$.trim($("#txtReviewContent").val())) {
            alert("Bạn chưa điền nội dung đánh giá sản phẩm!");
            $("#txtReviewContent").val("");
            $("#txtReviewContent").focus();
            return false;
        }
        else {
            return true;
        }
    }
</script>