
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/layout.cshtml";
}
@using BMT_DATN.Models;
@{
    int maDmsp = ViewBag.maDmsp;
    string searchKeyword = ViewBag.searchKeyword == null ? "" : ViewBag.searchKeyword;
    int sortBy = ViewBag.sortBy == null ? 0 : ViewBag.sortBy;
    int pageNumber = ViewBag.pageNumber;
    int pageSize = ViewBag.pageSize;

    BMT_DATNEntities db = new BMT_DATNEntities();
    CurrencyHelper ch = new CurrencyHelper();

    var listCategory = (from dmsp in db.tblDanhMucSanPhams
                        select dmsp).ToList();
    var query = (from sp in db.tblSanPhams
                 where (sp.FK_MaDanhMucSanPham == maDmsp || maDmsp == 0) &&
                          (sp.TenSanPham.Contains(searchKeyword))
                 orderby sp.PK_MaSanPham
                 select sp);

    switch (sortBy)
    {
        case 1: // moi -> cu
            query = query.OrderByDescending(p => p.PK_MaSanPham);
            break;
        case 2: // cu -> moi
            query = query.OrderBy(p => p.PK_MaSanPham);
            break;
        case 3: // gia cao -> thap
            query = query.OrderByDescending(p => p.DonGia);
            break;
        case 4: // gia thap -> cao
            query = query.OrderBy(p => p.DonGia);
            break;
        default:
            query = query.OrderBy(p => p.PK_MaSanPham);
            break;
    }
    var listProduct = query.Skip(pageSize * (pageNumber - 1)).Take(pageSize).ToList();
}

<script src="~/Theme/js/jquery-3.2.1.min.js"></script>
<script>
    $(function () {
        $('#list-group-men a').each(function () {
            //if ($(this).prop('href') == window.location.href) {
            //    $(this).addClass('selected');
            //}
            if (window.location.href.indexOf($(this).prop('href')) != -1) {
                $(this).addClass('selected');
            }
        });
    });
    $(document).ready(function () {
        $("#selectSort").val(@sortBy).change();
        // scroll
        $('html, body').animate({
            scrollTop: 250 /*$('#after-banner').offset().top*/
        }, 'slow');
        // click button find san pham
        $('#btnFindSanPham').click(function () {
            var urlParams = new URLSearchParams(window.location.search);
            var maDm = urlParams.get('maDmsp');
            var searchKey = $("#findSanPham").val();
            var sort = $("#selectSort").find("option:selected").attr('value')
            var obj = {
                maDmsp: maDm,
                searchKeyword: searchKey,
                sortBy: sort
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UserTimKiemSanPham", "Home")',
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',

                beforeSend: function () {

                },
                success: function (response) {
                    window.location.href = response.redirectToUrl;

                },
                failure: function (response) {
                    alert("fail");
                },
                complete: function () {

                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                },
            });
        });
        // enter input find san pham
        $('#findSanPham').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                $('#btnFindSanPham').click();
                return false;
            }
        });
        // change sort san pham
        $('#selectSort').change(function () {
            alert($(this).find("option:selected").attr('value'));
            $('#btnFindSanPham').click();
        });

        // them sp vao gio hang
        $('a[name="addToCart"]').click(function () {
            var idOfAddToCart = $(this).attr('id');
            var splitedIdOfAddToCart = idOfAddToCart.toString().split('_');
            var prodId = splitedIdOfAddToCart[1];
            var obj = {
                productId: prodId
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UserThemSanPhamVaoGioHang", "Home")',
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',

                beforeSend: function () {

                },
                success: function (response) {
                    var valueReturn = response;
                    alert(valueReturn.msg);
                    if (valueReturn.rdt == "1") {
                        window.location.href = '@Url.Action("Login", "Home")';
                    }
                },
                failure: function (response) {
                    alert("fail");
                },
                complete: function () {

                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                },
            });
        });
    });

</script>

<div class="banner">
    <img src="~/Image/layout/panda_banner_04.jpg" />
    <div class="container">

    </div>
</div>
<div style="padding-bottom: 70px;" id="after-banner">

</div>
<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="title-all text-center" id="start-shop-page-title">
            <h1>Danh sách sản phẩm</h1>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form action="#">
                            <input class="form-control" placeholder="Tìm kiếm..." type="text" id="findSanPham" value="@ViewBag.searchKeyword" autocomplete="off">
                            <button type="button" id="btnFindSanPham"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Danh mục sản phẩm</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men">
                            <a href="/danh-sach-san-pham?maDmsp=0" class="list-group-item list-group-item-action"> Tất cả </a>
                            @{
                                foreach (var cate in listCategory)
                                {
                                    <a href="/danh-sach-san-pham?maDmsp=@cate.PK_MaDanhMucSanPham" class="list-group-item list-group-item-action" name="list-category"> @cate.TenDanhMucSanPham  <small class="text-muted">(@cate.tblSanPhams.Count) </small></a>
                                }
                            }
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Xếp theo </span>
                                <select id="selectSort" class="selectpicker show-tick form-control">
                                @*<select id="selectSort" class="select-sort-pr show-tick form-control" onfocus="this.size = 5;" onblur="this.size = 0;" onchange="this.size = 1; this.blur()">*@
                                    <option value="0" data-display="Select">---Không xếp---</option>
                                    <option value="1">Mới → cũ</option>
                                    <option value="2">Cũ → mới</option>
                                    <option value="3">Giá cao → thấp</option>
                                    <option value="4">Giá thấp → cao</option>
                                </select>

                            </div>
                            <p>Hiển thị @listProduct.Count kết quả</p>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    @{
                                        foreach (var product in listProduct)
                                        {
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 card-product">
                                                <div class="products-single fix card-product-single">
                                                    <div class="box-img-hover card-product-single-image">
                                                        <img src="~/Images_Data/@product.HinhAnh" class="img-fluid img-product" alt="Image">
                                                        <div class="mask-icon">
                                                            <a class="cart" name="addToCart" id="product_@product.PK_MaSanPham" href="#" onclick="return false;">Thêm vào giỏ hàng</a>
                                                        </div>
                                                    </div>
                                                    <div class="why-text card-product-single-name">
                                                        <h4><a href="/chi-tiet-san-pham?maSp=@product.PK_MaSanPham">@product.TenSanPham</a></h4>
                                                        <h5>@ch.FormatToCurrency(product.DonGia)</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                @{
                                    foreach (var product in listProduct)
                                    {
                                        <div class="list-view-box">
                                            <div class="row border-bottom border-danger">
                                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                    <div class="products-single fix">
                                                        <div class="box-img-hover">
                                                            <img src="~/Images_Data/@product.HinhAnh" class="img-fluid" alt="Image">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                    <div class="why-text full-width card-product-single-name">
                                                        <h4><a class="product-name-in-list-view" href="/chi-tiet-san-pham?maSp=@product.PK_MaSanPham">@product.TenSanPham</a></h4>
                                                        <h5>@ch.FormatToCurrency(product.DonGia)</h5>
                                                        <p>
                                                            @product.MoTa
                                                        </p>
                                                        <a class="btn hvr-hover" name="addToCart" id="product_@product.PK_MaSanPham" href="#" onclick="return false;">Thêm vào giỏ hàng</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item"><a href="/danh-sach-san-pham?searchKeyword=@searchKeyword&sortBy=@sortBy&pageNumber=1" class="page-link"><i class="fa fa-angle-double-left"></i></a></li>
                        @{
                            var allSanPham = query.ToList();
                            double pmax = (double)allSanPham.Count / pageSize;
                            int pageMax = (int)Math.Ceiling(pmax);
                            int pageTemp = 0;
                            int page3HienTai = pageNumber;
                            for (int i = 0; i < 5; i++)
                            {
                                if (i != 2)     // 4 nut ben canh
                                {
                                    pageTemp = pageNumber - 2 + i;
                                    if (pageTemp <= 0 || pageTemp > pageMax)
                                    {
                                        <li class="page-item"><a class="page-link"> </a></li>
                                    }
                                    else
                                    {
                                        <li class="page-item"><a href="/danh-sach-san-pham?searchKeyword=@searchKeyword&sortBy=@sortBy&pageNumber=@pageTemp" class="page-link">@pageTemp</a></li>
                                    }
                                }
                                else            // nut chinh giua
                                {
                                    <li class="page-item active"><a href="javascript:void(0)" class="page-link">@page3HienTai</a></li>
                                }
                            }
                        }
                        <li class="page-item"><a href="/danh-sach-san-pham?searchKeyword=@searchKeyword&sortBy=@sortBy&pageNumber=@pageMax" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
