
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/layout.cshtml";
}
@using BMT_DATN.Models;
@{
    int maDmsp = ViewBag.maDmsp;
    BMT_DATNEntities db = new BMT_DATNEntities();
    CurrencyHelper ch = new CurrencyHelper();

    var listCategory = (from dmsp in db.tblDanhMucSanPhams
                        select dmsp).ToList();
    var listProduct = (from sp in db.tblSanPhams
                       where sp.FK_MaDanhMucSanPham == maDmsp ||
                                maDmsp == 0
                       select sp).ToList();
}

<script src="~/Theme/js/jquery-3.2.1.min.js"></script>
<script>
    $(function () {
        $('#list-group-men a').each(function () {
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('selected');
            }
        });
    });
    $(document).ready(function () {
        // scroll
        $('html, body').animate({
            scrollTop: $('#start-shop-page-title').offset().top
        }, 'slow');
        // mo full width
        $('a[name="noFullWidth"]').removeClass('full-width');
    });

</script>

<div class="banner">
    <img src="~/Image/layout/panda_banner_04.jpg" />
    <div class="container">

    </div>
</div>

<!-- Start Shop Page  -->
<div class="shop-box-inner">
    <div class="container">
        <div class="title-all text-center" id="start-shop-page-title">
            <h1>Danh sách sản phẩm</h1>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                <div class="product-categori">
                    <div class="search-product">
                        <form action="#">
                            <input class="form-control" placeholder="Tìm kiếm..." type="text">
                            <button type="submit"> <i class="fa fa-search"></i> </button>
                        </form>
                    </div>
                    <div class="filter-sidebar-left">
                        <div class="title-left">
                            <h3>Danh mục sản phẩm</h3>
                        </div>
                        <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men">
                            <a href="/danh-sach-san-pham?maDmsp=0" class="list-group-item list-group-item-action"> Tất cả </a>
                            @{
                                foreach (var cate in listCategory)
                                {
                                    <a href="/danh-sach-san-pham?maDmsp=@cate.PK_MaDanhMucSanPham" class="list-group-item list-group-item-action" name="list-category"> @cate.TenDanhMucSanPham  <small class="text-muted">(@cate.tblSanPhams.Count) </small></a>
                                }
                            }
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                <div class="right-product-box">
                    <div class="product-item-filter row">
                        <div class="col-12 col-sm-8 text-center text-sm-left">
                            <div class="toolbar-sorter-right">
                                <span>Xếp theo </span>
                                <select id="basic" class="selectpicker show-tick form-control" data-placeholder="$ USD">
                                    <option data-display="Select">-----------</option>
                                    <option value="1">Mới → cũ</option>
                                    <option value="2">Giá cao → thấp</option>
                                    <option value="3">Giá thấp → cao</option>
                                </select>
                            </div>
                            <p>Hiển thị @listProduct.Count kết quả</p>
                        </div>
                        <div class="col-12 col-sm-4 text-center text-sm-right">
                            <ul class="nav nav-tabs ml-auto">
                                <li>
                                    <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                </li>
                                <li>
                                    <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="row product-categorie-box">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                <div class="row">
                                    @{
                                        foreach (var product in listProduct)
                                        {
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 card-product">
                                                <div class="products-single fix card-product-single">
                                                    <div class="box-img-hover card-product-single-image">
                                                        <img src="~/Images_Data/@product.HinhAnh" class="img-fluid img-product" alt="Image">
                                                        <div class="mask-icon">
                                                            <a class="cart" href="#">Thêm vào giỏ hàng</a>
                                                        </div>
                                                    </div>
                                                    <div class="why-text card-product-single-name">
                                                        <h4><a href="/chi-tiet-san-pham?maSp=@product.PK_MaSanPham">@product.TenSanPham</a></h4>
                                                        <h5>@ch.FormatToCurrency(product.DonGia)</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="list-view">
                                @{
                                    foreach (var product in listProduct)
                                    {
                                        <div class="list-view-box">
                                            <div class="row border-bottom border-danger">
                                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                    <div class="products-single fix">
                                                        <div class="box-img-hover">
                                                            <img src="~/Images_Data/@product.HinhAnh" class="img-fluid" alt="Image">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                    <div class="why-text full-width card-product-single-name">
                                                        <h4><a class="product-name-in-list-view" href="/chi-tiet-san-pham?maSp=@product.PK_MaSanPham">@product.TenSanPham</a></h4>
                                                        <h5>@ch.FormatToCurrency(product.DonGia)</h5>
                                                        <p>
                                                            @product.MoTa
                                                        </p>
                                                        <a class="btn hvr-hover" href="#">Thêm vào giỏ hàng</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Shop Page -->
