
@{
    ViewBag.Title = "QuanLySanPham";
    Layout = "~/Views/Shared/layout_admin.cshtml";
}

@using BMT_DATN.Models;

<link href="~/Theme/css/custom_admin_1.css" rel="stylesheet" />
<script src="~/Theme/js/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        // nhan xoa sp
        $('a[name="deleteProvider"]').click(function () {
            var deleteProviId = this.id;
            var obj = {
                providerId: deleteProviId
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AdminXoaNhaCungCap", "Provider")',
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',

                beforeSend: function () {

                },
                success: function (response) {
                    var valueReturn = response;
                    alert(valueReturn.msg);
                    window.location.reload(true);
                },
                failure: function (response) {
                    alert("fail");
                },
                complete: function () {

                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                },
            });
        });
        // nhan enter tim kiem
        $(document).keyup(function (event) {
            if ($("#searchNhaCungCap").is(":focus") && event.key == "Enter") {
                if ($("#searchNhaCungCap").val() == "") {
                    alert("Trường tìm kiếm đang rỗng!");
                }
                else {
                    var searchKey = $("#searchNhaCungCap").val();
                    var obj = {
                        searchKeyword: searchKey
                    }
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("AdminTimKiemNhaCungCap", "Provider")',
                        data: JSON.stringify(obj),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',

                        beforeSend: function () {

                        },
                        success: function (response) {
                            window.location.href = response.redirectToUrl;
                        },
                        failure: function (response) {
                            alert("fail");
                        },
                        complete: function () {

                        },
                        error: function (xhr, status, error) {
                            var err = eval("(" + xhr.responseText + ")");
                            alert(err.Message);
                        },
                    });
                }
            }
        });

    });

</script>

<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-7"><h2><b>QUẢN LÝ SẢN PHẨM</b></h2></div>
                    <div class="col-sm-4">
                        <div class="search-box">
                            <i class="material-icons">&#xE8B6;</i>
                            <input type="text" class="form-control" name="searchSanPham" id="searchSanPham" placeholder="Tìm kiếm ... " value="@ViewBag.searchKeyword">
                        </div>
                    </div>
                    <div class="col-sm-1" title="Thêm" data-toggle="tooltip">
                        <a href="/them-san-pham"><i class="material-icons add_user_button">add</i></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Hình ảnh</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        string searchKeyword = ViewBag.searchKeyword == null ? "" : ViewBag.searchKeyword;
                        int pageNumber = ViewBag.pageNumber;
                        int pageSize = ViewBag.pageSize;
                        BMT_DATNEntities db = new BMT_DATNEntities();
                        var query = from sp in db.tblSanPhams
                                    where sp.TenSanPham.Contains(searchKeyword)
                                    orderby sp.TenSanPham
                                    select sp;
                        var listSanPham = query.Skip(pageSize * (pageNumber - 1)).Take(pageSize).ToList();

                        int stt = listSanPham.Count == 0 ? 0 : pageSize * (pageNumber - 1) + 1;
                        foreach (var sanpham in listSanPham)
                        {
                            <tr>
                                <td>@stt</td>
                                <td>@sanpham.HinhAnh</td>
                                <td>@sanpham.TenSanPham</td>
                                <td>@sanpham.SoLuong</td>
                                <td>
                                    <a href="/xem-san-pham?maNhaCungCap=@sanpham.PK_MaSanPham" class="view" title="Xem" data-toggle="tooltip"><i class="material-icons">&#xE417;</i></a>
                                    <a href="/sua-san-pham?maNhaCungCap=@sanpham.PK_MaSanPham" class="edit" title="Sửa" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a href="javascript:void(0)" class="delete" title="Xóa" data-toggle="tooltip" name="deleteProduct" id="@sanpham.PK_MaSanPham"><i class="material-icons">&#xE872;</i></a>
                                </td>
                            </tr>
                            stt++;
                        }
                    }
                </tbody>
            </table>
            <div class="clearfix">
                @{
                    int firstResult = stt == 0 ? 0 : pageSize * (pageNumber - 1) + 1;
                    int lastResult = stt == 0 ? 0 : stt - 1;
                }
                <div class="hint-text">Hiển thị kết quả từ <b>@firstResult</b> đến <b>@lastResult</b></div>
                <ul class="pagination">
                    <li class="page-item"><a href="/quan-ly-san-pham?searchKeyword=@searchKeyword&&pageNumber=1"><i class="fa fa-angle-double-left"></i></a></li>
                    @{
                        var allSanPham = query.ToList();
                        double pmax = (double)allSanPham.Count / pageSize;
                        int pageMax = (int)Math.Ceiling(pmax);
                        int pageTemp = 0;
                        int page3HienTai = pageNumber;
                        for (int i = 0; i < 5; i++)
                        {
                            if (i != 2)     // 4 nut ben canh
                            {
                                pageTemp = pageNumber - 2 + i;
                                if (pageTemp <= 0 || pageTemp > pageMax)
                                {
                                    <li class="page-item"><a class="page-link"> </a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a href="/quan-ly-san-pham?searchKeyword=@searchKeyword&pageNumber=@pageTemp" class="page-link">@pageTemp</a></li>
                                }
                            }
                            else            // nut chinh giua
                            {
                                <li class="page-item active"><a href="javascript:void(0)" class="page-link">@page3HienTai</a></li>
                            }
                        }
                    }
                    <li class="page-item"><a href="/quan-ly-san-pham?searchKeyword=@searchKeyword&&pageNumber=@pageMax" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>