
@{
    ViewBag.Title = "Sửa sản phẩm";
    Layout = "~/Views/Shared/layout_admin.cshtml";
}

@using BMT_DATN.Models;
@{
    int maSanPham = ViewBag.maSanPham;
    BMT_DATNEntities db = new BMT_DATNEntities();
    var ch = new CurrencyHelper();
    var infoSanPham = (from sp in db.tblSanPhams
                       where sp.PK_MaSanPham == maSanPham
                       select new
                       {
                           PK_MaSanPham = sp.PK_MaSanPham,
                           TenSanPham = sp.TenSanPham,
                           KichCo = sp.KichCo,
                           HinhAnh = sp.HinhAnh,
                           MoTa = sp.MoTa,
                           DonVi = sp.DonVi.ToString(),
                           SoLuong = sp.SoLuong,
                           DonGia = sp.DonGia,
                           FK_MaDanhMucSanPham = sp.FK_MaDanhMucSanPham,
                           CacNhaCungCap = sp.tblNguonCungCaps.ToList()
                       }).FirstOrDefault();
    var allOldProviderId = infoSanPham.CacNhaCungCap.Select(op => op.FK_MaNhaCungCap).ToArray();

    var allCategory = (from dm in db.tblDanhMucSanPhams
                       select dm).ToList();
    var allProvider = (from ncc in db.tblNhaCungCaps
                       select ncc).ToList();
    var allProviderName = allProvider.Select(p => p.TenNhaCungCap).ToArray();
    var allProviderId = allProvider.Select(p => p.PK_MaNhaCungCap).ToArray();
}

<script src="~/Theme/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $('a[name="qlsp_menu"]').html("<b> &#9205; SẢN PHẨM</b>");
    $('a[name="qlsp_menu"]').css("color", "red");
    $(document).ready(function () {

        $('#productPrice').on('keyup', function () {
            // '' -> comma
            let price = ($(this).val());
            let price1 = parseInt(price.toString().replace(/,/g, ''), 10);
            if (isNaN(price1)) {
                price1 = 0;
            }
            // comma -> ''
            obj1 = new Intl.NumberFormat('en-US');
            output1 = obj1.format(price1);
            $(this).val(output1);
        });

        // load productCategory + productUnit
        $('#productCategory').val(@infoSanPham.FK_MaDanhMucSanPham);
        $('#productUnit').val("@Html.Raw(infoSanPham.DonVi)");

        // load productProvider
        loadProvider();

        // btnLuu
        $('#btnSuaSanPham').click(function () {
            var formData = new FormData($('#formSuaSanPham')[0]);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AdminSuaSanPham", "Product")',
                cache: false,
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: formData,

                beforeSend: function () {},
                success: function (response) {
                    var valueReturn = response;
                    alert(valueReturn.msg);
                    if (valueReturn.rdt == "1") {
                        window.location.href = '@Url.Action("QuanLySanPham", "Product")';
                    }
                },
                failure: function (response) { alert("fail"); },
                complete: function () {},
                error: function (xhr, status, error) {
                    var err = xhr.responseText;
                    alert(err);
                },
            });
        });
    });

    function loadProvider() {
        var oldProviderArray = @Html.Raw(Json.Encode(allOldProviderId));
        for (var i = 0; i < oldProviderArray.length; i++) {
            addOneProvider();
            // set select value
            var selectId = countProvider - 1;
            var providerSelect = document.getElementById("providerSelect_" + selectId);
            providerSelect.value = oldProviderArray[i];
        }
    }

    var countProvider = 0;
    var arrayProviderIdSelected = new Array();
    function addOneProvider() {
        var divOfProviderSelect = document.getElementById("listProvider");
        var divOfDivProviderSelect = document.createElement("div");
        divOfDivProviderSelect.classList.add("row");
        divOfDivProviderSelect.id = "divSelect_" + countProvider;
        divOfProviderSelect.appendChild(divOfDivProviderSelect);
        //Create array of options to be added
        var arrayProviderName = @Html.Raw(Json.Encode(allProviderName));
        var arrayProviderId = @Html.Raw(Json.Encode(allProviderId));

        //Create and append select list
        var selectList = document.createElement("select");
        selectList.classList.add("col-11", "mb-1", "pr-3");
        selectList.name = "providerIds";
        selectList.id = "providerSelect_" + countProvider;
        divOfDivProviderSelect.appendChild(selectList);

        //Create and append the options
        for (var i = 0; i < arrayProviderName.length; i++) {
            var option = document.createElement("option");
            option.value = arrayProviderId[i];
            option.text = arrayProviderName[i];
            selectList.appendChild(option);
        }

        //Create X button on right
        var removeButton = document.createElement("button");
        removeButton.type = "button";
        removeButton.classList.add("col-1", "mb-1");
        removeButton.id = "removeSelect_" + countProvider;
        removeButton.innerHTML = "X";
        removeButton.setAttribute("onclick", "checkExistProductAndProviderInImport(this.id)");
        divOfDivProviderSelect.appendChild(removeButton);

        //
        countProvider = countProvider + 1;
    }

    function removeOneProvider(idBtn) {
        var idButton = idBtn.toString().split("_");
        var idNeeded = idButton[1];
        const removedDiv = document.getElementById("divSelect_" + idNeeded);
        removedDiv.remove();
    }

    function checkExistProductAndProviderInImport(xBtn) {
        var prodId = $("#productId").val();
        var provId = $('#' + xBtn).prev('select[name="providerIds"]').val();
        var obj = {
            productId: prodId,
            providerId: provId
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("KiemTraTonTaiSanPhamVaNhaCungCapTrongPhieuNhap", "Product")',
            data: JSON.stringify(obj),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',

            beforeSend: function () {

            },
            success: function (response) {
                var valueReturn = response;
                if (valueReturn.res == "1") {
                    alert("Tồn tại phiếu nhập của nhà cung cấp này với sản phẩm hiện tại \n Không thể xóa!");
                }
                else {
                    removeOneProvider(xBtn);
                }
            },
            failure: function (response) {
                alert("fail");
            },
            complete: function () {

            },
            error: function (xhr, status, error) {
                var err = xhr.responseText;
                console.log(err);
            },
        });
    }

    function hasDuplicateProviders(arr) {
        return new Set(arr).size !== arr.length;
    }

    function beforeCallProviderAction() {
        arrayProviderIdSelected.length = 0;
        $('select[name="providerIds"]').each(function (index) {
            console.log($(this).val());
            arrayProviderIdSelected.push($(this).val());
        });
        if (hasDuplicateProviders(arrayProviderIdSelected)) {
            alert("Trùng nhà cung cấp");
            return false;
        }
        else {
            return true;
        }
    }

</script>

<div class="admin_content_area">
    <h2>QUẢN LÝ SẢN PHẨM - SỬA SẢN PHẨM</h2>
    @using (Html.BeginForm("AdminSuaSanPham", "Product", FormMethod.Post, new {@id = "formSuaSanPham", @class = "AdminForm m-md-auto", @enctype = "multipart/form-data", @spellcheck = "false" }))
    {
        <div>
            <span class="h4">Sửa các thông tin</span>
            <div class="form-group">
                <input hidden value="@infoSanPham.PK_MaSanPham" name="productId" id="productId" />
                <label for="productCategory">Sản phẩm thuộc danh mục:</label>
                <select class="form-control" style="color: #1f1f1f" name="productCategory" id="productCategory" required>
                    @{
                        foreach (var category in allCategory)
                        {
                            <option style="color: #666666" value="@category.PK_MaDanhMucSanPham">@category.TenDanhMucSanPham</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="productName">Tên sản phẩm:</label>
                <input type="text" class="form-control" name="productName" id="productName" autocomplete="off" value="@infoSanPham.TenSanPham" required>
            </div>
            <div class="form-group">
                <label for="productSize">Kích cỡ:</label>
                <input type="text" class="form-control" name="productSize" id="productSize" autocomplete="off" value="@infoSanPham.KichCo">
            </div>
            <div class="form-group">
                <label for="productUnit">Đơn vị tính:</label>
                <select class="form-control" name="productUnit" id="productUnit" required>
                    <option value="Đôi">Đôi</option>
                    <option value="Chiếc">Chiếc</option>
                    <option value="Bộ">Bộ</option>
                    <option value="Hộp">Hộp</option>
                    <option value="Lọ">Lọ</option>
                </select>
            </div>
            <div class="form-group">
                <label for="productPrice">Đơn giá (vnđ):</label>
                <input type="text" class="form-control" name="productPrice" id="productPrice" maxlength="12" autocomplete="off" value="@ch.FormatWithComma(infoSanPham.DonGia)" required>
            </div>
            <div class="form-group">
                <label for="productDescription">Mô tả:</label>
                <textarea class="form-control" rows="10" name="productDescription" id="productDescription">@infoSanPham.MoTa</textarea>
            </div>
            <div class="form-group">
                <label for="productImage">Chọn ảnh mới nếu muốn thay đổi ảnh sản phẩm:</label>
                <input type="file" class="form-control" accept="image/*" name="productImage" id="producImage" title="">
            </div>
            <div class="form-group">
                <label for="productProvider">Chọn nhà cung cấp:</label>
                <div class="col-12 d-flex flex-column" id="listProvider">

                </div>
                <button type="button" onclick="addOneProvider()">+ NCC</button>
            </div>
            <div>
                <label style="color:red; font-weight:normal;">@ViewBag.checkDuplicateProduct</label>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <div>
                    <button type="button" class="ml-auto btn hvr-hover mr-2" style="color:#ffffff" id="btnSuaSanPham" onclick="return beforeCallProviderAction()">Lưu</button>
                </div>
                <div>
                    <button type="button" class="ml-auto btn hvr-hover" style="color:#ffffff" onclick="history.back()">Hủy</button>
                </div>
            </div>

        </div>
    }

</div>