
@{
    ViewBag.Title = "Thống kê doanh thu";
    Layout = "~/Views/Shared/layout_statistic.cshtml";
}


@using BMT_DATN.Models;
@{
    DateTime startDate = ViewBag.startDate;
    DateTime endDate = ViewBag.endDate;
    BMT_DATNEntities db = new BMT_DATNEntities();
    CurrencyHelper ch = new CurrencyHelper();
    var ordersByDate = (from dh in db.tblDonHangs
                        join ctdh in db.tblChiTietDonHangs on dh.PK_MaDonHang equals ctdh.FK_MaDonHang
                        where (startDate <= dh.ThoiGianTaoDonHang && dh.ThoiGianTaoDonHang <= endDate &&
                               (dh.FK_MaTrangThaiDonHang == (int)EnumTrangThaiDonHang.DaNhan ||
                               dh.FK_MaTrangThaiDonHang == (int)EnumTrangThaiDonHang.MuaTaiCuaHang))
                        select new
                        {
                            MaDonHang = dh.PK_MaDonHang,
                            NgayDatHang = dh.ThoiGianTaoDonHang,
                            TrangThaiDonHang = dh.tblTrangThaiDonHang.TenTrangThaiDonHang,
                            MaSanPham = ctdh.FK_MaSanPham,
                            TenSanPham = ctdh.tblSanPham.TenSanPham,
                            SoLuongMua = ctdh.SoLuongMua,
                            DonGia = ctdh.DonGia
                        }
                         into listOrders
                        group listOrders by new
                        {
                            oYear = listOrders.NgayDatHang.Value.Year,
                            oMonth = listOrders.NgayDatHang.Value.Month,
                            oDay = listOrders.NgayDatHang.Value.Day
                        } into gr
                        orderby gr.Key
                        select new
                        {
                            NgayDatHang = gr.Key,
                            SoLuongDonHangTrongNgay = gr.Select(o => o.MaDonHang).Distinct().Count(),
                            TongTienThu = gr.Sum(p => p.SoLuongMua * p.DonGia)
                        }
                        ).ToList();

}

<link href="~/Theme/css/custom_admin_1.css" rel="stylesheet" />
<script src="~/Theme/js/jquery-3.2.1.min.js"></script>
<script>
    $('a[name="tkdt_menu"]').html("<b> &#9205; DOANH THU</b>");
    $('a[name="tkdt_menu"]').css("color", "red");
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            trigger: 'hover'
        });
        // tim theo khoang thoi gian
        $('a[name="filterDoanhThu"]').click(function () {
            var dStart = $("#startDateFilter").val();
            var dEnd = $("#endDateFilter").val();
            var obj = {
                startDate: dStart,
                endDate: dEnd
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AdminLocThongKeDoanhThu", "Statistic")',
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',

                beforeSend: function () {

                },
                success: function (response) {
                    window.location.href = response.redirectToUrl;
                },
                failure: function (response) {
                    alert("fail");
                },
                complete: function () {

                },
                error: function (xhr, status, error) {
                    var err = xhr.responseText;
                    console.log(err);
                },
            });
        });
    });
</script>

<div class="container">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4"><h2><b>THỐNG KÊ DOANH THU</b></h2></div>
                    <div class="col-sm-7">
                        <div class="search-box">
                            <label>Từ: </label>
                            <input type="date" id="startDateFilter" value="@startDate.ToString("yyyy-MM-dd")" />
                            <label>Đến: </label>
                            <input type="date" id="endDateFilter" value="@endDate.ToString("yyyy-MM-dd")" />
                        </div>
                    </div>
                    <div class="col-sm-1" title="Lọc" data-toggle="tooltip">
                        <a href="javascript:void(0)" name="filterDoanhThu"><i class="material-icons add_user_button">&#xef4f;</i></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="width: 50px;">STT</th>
                        <th style="width:400px; text-align:center;">Ngày bán</th>
                        <th>Số lượng đơn trong ngày</th>
                        <th style="width:300px; text-align:right;">Tổng tiền thu</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int stt = 0;
                        foreach (var ord in ordersByDate)
                        {
                            <tr>
                                <td style="text-align:center;">@(stt+1)</td>
                                <td style="text-align:center;">@(new DateTime(ord.NgayDatHang.oYear, ord.NgayDatHang.oMonth, ord.NgayDatHang.oDay).ToString("dd-MM-yyyy"))</td>
                                <td style="text-align:center;">@ord.SoLuongDonHangTrongNgay</td>
                                <td class="text-right">@ch.FormatToCurrency(ord.TongTienThu)</td>
                            </tr>
                            stt++;
                        }
                    }
                </tbody>
            </table>

        </div>
    </div>
